*{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    background-color: #222;
    background-image: url("./assets/piano\ pic\ from\ unsplash.jpeg");
    background-size: cover;
    background-position: center;
    color: #000000;
    text-shadow: 0px 0px 2px white;
    text-align: center;
    font-size: 1.2em;
}

main{
    position: absolute;
    width: 100%;
    bottom: 50px;
    display: flex;
    justify-content: space-evenly;
}
.keyblack{
    height: 40vh;
    width: 80px;
    background-color: rgb(110, 110, 110);
    border-radius: 5px;
    border: 2px solid rgb(199, 199, 199);
    color: black;
    font-size: 2em;
    padding-top: 2%;
}